img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

* {
	margin: 0;
	padding: 0;
}

h1	{
	text-align: center;
	color: white;
	font-size: 85px;
}

body {
	background-image: url("background.png");
}

#sycle {
	color: black;
	font-size: 40px;
}